body {
    padding: 0px 10px;
    margin: 0;
    font-family: monospace;
    background: #eaefea;
    padding-bottom: 300px;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #2e7baa;
    color: white;
}

.flex-box {
    display: none;
    z-index: 25;
    position: absolute;
    width: 100vw;
    background: #cee1e1;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
h3 {
    margin: 0;
    font-size: 1.5rem;
    margin-right: 5px;
}

.tiny {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.tiny-count {
    padding-right: 20px;
}

#flagcount, #bombcount {
    font-size: 2rem;
}
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav button {
    background: radial-gradient(90deg, white, silver);
    border-radius: 15%;
    font-size: 1rem;
    padding: 10px;
   

}

.level-up {
    padding: 10px;
    background: #ffc107bd;
    color: #180a91;
    border-radius: 10%;
    border: 3px solid #2e7baa;
}

.tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.score {
    font-size: 1.5rem;
    padding: 12px;
    margin-right: 12px;
    border: 1px solid green;
}

main {
    background-color: #cdf7f6;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 2px silver;
    height: auto;
    width: 100%;
   
}

.paddingbox-left {
    width: 50px;
    height: 100%;
}

.field {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: 5px inset blue;
    background: #516576;    
    overflow-x: scroll;
    overflow-y: scroll;
    
}

.row {
    display: flex;
    flex-direction: column;
}

.cell {
    height: 40px;
    width: 40px;
    /*border: 1px solid grey;*/
    font-size: 2em;
    text-align: center;
    border-left: 3px silver inset;
    border-right: 2px #d2d2bf inset;
    border-top: 2px inset olive;
    border-bottom: 2px inset silver;
    background: #aba8a1;
    background-size: contain;
}

#lose {
    display: none;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    background: #0000005e;
    border-top: 5px double green;
    border-bottom: 5px double green;
    position: absolute;
    z-index: 5;
}

#win {
    display: none;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    background: #0000005e;
    border-top: 5px double green;
    border-bottom: 5px double green;
    position: absolute;
    z-index: 5;
}

#mute {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

footer {
    background: black;
    color: white;
}

footer h1 {
    color: white;
}
/* MOBILE */
@media all and (max-width: 799px) and (min-width: 220px) {
    nav {
        padding: 20px;
    }
    .field {
        overflow-x: scroll;
        overflow-y: scroll;
        width: auto;
    }
    .flex-box {
        flex-direction: column;
        width: 50vw;
        height: 100vh;
    }
    .cell {
        height: 30px;
        width: 30px;
        font-size: 1rem;
    }
    #win, #lose {
        font-size: 2rem;
    }
    #flagcount, #bombcount {
        font-size: 1rem;
    }
    .tiny {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    nav button {
        background: radial-gradient(90deg, white, silver);
        border-radius: 15%;
        font-size: 10px;
        padding: 10px;
        border: 1px solid purple;
        box-shadow: 0px 1px 5px blue;
    }
}